#exclude genered dropbox sync file with extensin *~
*~

#exclude latex generated log and other files
diploma_text/document.aux
diploma_text/document.log
diploma_text/document.toc

#exclude before normal commit
project
