#exclude genered dropbox sync file with extensin *~
*~

#exclude latex generated log and other files
diploma_text/document.aux
diploma_text/document.log
diploma_text/document.toc

#exclude eclipse project files
.classpath
.project
.settings
.metadata

builddef.lst #don't know what is that file

#exclude before normal commit
#project
