#exclude genered dropbox sync file with extension *~
*~

#exclude classes
*.class

#exclude eclipse generetad files
.classpath
.project
.settings
project/.springBeans

#exclude latex generated log and other files
diploma_text/document.aux
diploma_text/document.log
diploma_text/document.toc

#exclude before normal commit
#project
project/target

diploma_text/structure
html
